<?xml version="1.0" encoding="UTF-8"?>
<pluginMetaData path="datatype-astm-e1394"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="plugin.xsd">
    <name>ASTM E1394 Data Type</name>
    <author>Bit Dream IT</author>
    <pluginVersion>1.2.0</pluginVersion>
    <mirthVersion>4.5.2</mirthVersion>
    <url>https://bitdreamit.com</url>
    <description>ASTM E1394-91/97 record-level parser/serializer (H/P/O/R/C/Q/M/L).</description>
    <serverClasses>
        <string>com.bitdreamit.connect.plugins.datatypes.astm.server.ASTME1394DataTypeServerPlugin</string>
    </serverClasses>
    <clientClasses>
        <string>com.bitdreamit.connect.plugins.datatypes.astm.client.ASTME1394DataTypeClientPlugin</string>
    </clientClasses>
    <templateClassName>com.bitdreamit.connect.plugins.datatypes.astm.client.ASTME1394DataTypeCodeTemplatePlugin</templateClassName>
    <library type="CLIENT" path="datatype-astm-e1394-client.jar" />
    <library type="SHARED" path="datatype-astm-e1394-shared.jar" />
    <library type="SERVER" path="datatype-astm-e1394-server.jar" />
</pluginMetaData>
